{
  "openapi": "3.0.1",
  "info": {
    "title": "ForgeService",
    "version": "0.0.0"
  },
  "servers": [
    {
      "url": "https://api.beamable.com/basic/1714908866696208.DE_1714908866696209.DESKTOP-5P3QU5Emicro_ForgeService/"
    }
  ],
  "paths": {
    "/admin/HealthCheck": {
      "post": {
        "tags": [
          "Admin"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "scope": []
          }
        ]
      }
    },
    "/admin/Docs": {
      "post": {
        "tags": [
          "Admin"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "scope": []
          }
        ]
      }
    },
    "/admin/Metadata": {
      "post": {
        "tags": [
          "Admin"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/beamable.server.MicroserviceRuntimeMetadata"
                }
              }
            }
          }
        },
        "security": [
          {
            "scope": []
          }
        ]
      }
    },
    "/SellSword": {
      "post": {
        "tags": [
          "Uncategorized"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SellSwordRequestArgs"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        },
        "security": [
          {
            "scope": [],
            "user": []
          }
        ]
      }
    },
    "/StartForgingSword": {
      "post": {
        "tags": [
          "Uncategorized"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        },
        "security": [
          {
            "scope": [],
            "user": []
          }
        ]
      }
    },
    "/SayHi": {
      "post": {
        "tags": [
          "Uncategorized"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SayHiRequestArgs"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "scope": []
          }
        ]
      }
    },
    "/TestScenarioApi": {
      "post": {
        "tags": [
          "Uncategorized"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TestScenarioApiRequestArgs"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "scope": [],
            "user": []
          }
        ]
      }
    },
    "/OpenAI/authenticate": {
      "post": {
        "tags": [
          "OpenAI"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenAI_authenticateRequestArgs"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Beamable.Common.FederatedAuthenticationResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "scope": []
          }
        ]
      }
    },
    "/OpenAI/inventory/state": {
      "post": {
        "tags": [
          "OpenAI"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenAI_inventory_stateRequestArgs"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Beamable.Common.FederatedInventoryProxyState"
                }
              }
            }
          }
        },
        "security": [
          {
            "scope": []
          }
        ]
      }
    },
    "/OpenAI/inventory/put": {
      "post": {
        "tags": [
          "OpenAI"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OpenAI_inventory_putRequestArgs"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Beamable.Common.FederatedInventoryProxyState"
                }
              }
            }
          }
        },
        "security": [
          {
            "scope": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "beamable.server.MicroserviceRuntimeMetadata": {
        "title": "MicroserviceRuntimeMetadata",
        "required": [
          "disableAllBeamableEvents",
          "enableEagerContentLoading",
          "instanceId",
          "sdkBaseBuildVersion",
          "sdkExecutionVersion",
          "sdkVersion",
          "serviceName",
          "useLegacySerialization"
        ],
        "type": "object",
        "properties": {
          "serviceName": {
            "type": "string"
          },
          "sdkVersion": {
            "type": "string"
          },
          "sdkBaseBuildVersion": {
            "type": "string"
          },
          "sdkExecutionVersion": {
            "type": "string"
          },
          "useLegacySerialization": {
            "type": "boolean"
          },
          "disableAllBeamableEvents": {
            "type": "boolean"
          },
          "enableEagerContentLoading": {
            "type": "boolean"
          },
          "instanceId": {
            "type": "string"
          }
        },
        "additionalProperties": false,
        "x-beamable-type-namespace": "beamable.server",
        "x-beamable-type-name": "MicroserviceRuntimeMetadata",
        "x-beamable-qualified-name": "beamable.server.MicroserviceRuntimeMetadata",
        "x-beamable-assembly": "Beamable.Server.Common",
        "x-beamable-assembly-version": "2.0.1.0"
      },
      "Beamable.Common.FederatedAuthenticationResponse": {
        "title": "FederatedAuthenticationResponse",
        "required": [
          "challenge",
          "challenge_ttl",
          "user_id"
        ],
        "type": "object",
        "properties": {
          "user_id": {
            "type": "string"
          },
          "challenge": {
            "type": "string"
          },
          "challenge_ttl": {
            "type": "integer",
            "format": "int32"
          }
        },
        "additionalProperties": false,
        "x-beamable-type-namespace": "Beamable.Common",
        "x-beamable-type-name": "FederatedAuthenticationResponse",
        "x-beamable-qualified-name": "Beamable.Common.FederatedAuthenticationResponse",
        "x-beamable-assembly": "Unity.Beamable.Runtime.Common",
        "x-beamable-assembly-version": "2.0.1.0"
      },
      "Beamable.Common.FederatedInventoryProxyState": {
        "title": "FederatedInventoryProxyState",
        "required": [
          "currencies",
          "items"
        ],
        "type": "object",
        "properties": {
          "currencies": {
            "type": "object",
            "additionalProperties": {
              "type": "integer",
              "format": "int64"
            }
          },
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/Beamable.Common.FederatedItemProxy"
              }
            }
          }
        },
        "additionalProperties": false,
        "x-beamable-type-namespace": "Beamable.Common",
        "x-beamable-type-name": "FederatedInventoryProxyState",
        "x-beamable-qualified-name": "Beamable.Common.FederatedInventoryProxyState",
        "x-beamable-assembly": "Unity.Beamable.Runtime.Common",
        "x-beamable-assembly-version": "2.0.1.0"
      },
      "Beamable.Common.Api.Inventory.FederatedItemCreateRequest": {
        "title": "FederatedItemCreateRequest",
        "required": [
          "contentId",
          "properties",
          "requestId"
        ],
        "type": "object",
        "properties": {
          "contentId": {
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/Beamable.Common.Content.SerializableDictionaryStringToString"
          },
          "requestId": {
            "type": "string"
          }
        },
        "additionalProperties": false,
        "x-beamable-type-namespace": "Beamable.Common.Api.Inventory",
        "x-beamable-type-name": "FederatedItemCreateRequest",
        "x-beamable-qualified-name": "Beamable.Common.Api.Inventory.FederatedItemCreateRequest",
        "x-beamable-assembly": "Unity.Beamable.Runtime.Common",
        "x-beamable-assembly-version": "2.0.1.0"
      },
      "Beamable.Common.Api.Inventory.FederatedItemDeleteRequest": {
        "title": "FederatedItemDeleteRequest",
        "required": [
          "contentId",
          "proxyId"
        ],
        "type": "object",
        "properties": {
          "contentId": {
            "type": "string"
          },
          "proxyId": {
            "type": "string"
          }
        },
        "additionalProperties": false,
        "x-beamable-type-namespace": "Beamable.Common.Api.Inventory",
        "x-beamable-type-name": "FederatedItemDeleteRequest",
        "x-beamable-qualified-name": "Beamable.Common.Api.Inventory.FederatedItemDeleteRequest",
        "x-beamable-assembly": "Unity.Beamable.Runtime.Common",
        "x-beamable-assembly-version": "2.0.1.0"
      },
      "Beamable.Common.Api.Inventory.FederatedItemUpdateRequest": {
        "title": "FederatedItemUpdateRequest",
        "required": [
          "contentId",
          "properties",
          "proxyId"
        ],
        "type": "object",
        "properties": {
          "contentId": {
            "type": "string"
          },
          "proxyId": {
            "type": "string"
          },
          "properties": {
            "$ref": "#/components/schemas/Beamable.Common.Content.SerializableDictionaryStringToString"
          }
        },
        "additionalProperties": false,
        "x-beamable-type-namespace": "Beamable.Common.Api.Inventory",
        "x-beamable-type-name": "FederatedItemUpdateRequest",
        "x-beamable-qualified-name": "Beamable.Common.Api.Inventory.FederatedItemUpdateRequest",
        "x-beamable-assembly": "Unity.Beamable.Runtime.Common",
        "x-beamable-assembly-version": "2.0.1.0"
      },
      "Beamable.Common.Content.SerializableDictionaryStringToString": {
        "title": "SerializableDictionaryStringToString",
        "required": [
          "keys",
          "values"
        ],
        "type": "object",
        "properties": {
          "keys": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "values": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "additionalProperties": false,
        "x-beamable-type-namespace": "Beamable.Common.Content",
        "x-beamable-type-name": "SerializableDictionaryStringToString",
        "x-beamable-qualified-name": "Beamable.Common.Content.SerializableDictionaryStringToString",
        "x-beamable-assembly": "Unity.Beamable.Runtime.Common",
        "x-beamable-assembly-version": "2.0.1.0"
      },
      "Beamable.Common.FederatedItemProxy": {
        "title": "FederatedItemProxy",
        "required": [
          "properties",
          "proxyId"
        ],
        "type": "object",
        "properties": {
          "proxyId": {
            "type": "string"
          },
          "properties": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Beamable.Common.Api.Inventory.ItemProperty"
            }
          }
        },
        "additionalProperties": false,
        "x-beamable-type-namespace": "Beamable.Common",
        "x-beamable-type-name": "FederatedItemProxy",
        "x-beamable-qualified-name": "Beamable.Common.FederatedItemProxy",
        "x-beamable-assembly": "Unity.Beamable.Runtime.Common",
        "x-beamable-assembly-version": "2.0.1.0"
      },
      "Beamable.Common.Api.Inventory.ItemProperty": {
        "title": "ItemProperty",
        "required": [
          "name",
          "value"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        },
        "additionalProperties": false,
        "x-beamable-type-namespace": "Beamable.Common.Api.Inventory",
        "x-beamable-type-name": "ItemProperty",
        "x-beamable-qualified-name": "Beamable.Common.Api.Inventory.ItemProperty",
        "x-beamable-assembly": "Unity.Beamable.Runtime.Common",
        "x-beamable-assembly-version": "2.0.1.0"
      },
      "SellSwordRequestArgs": {
        "required": [
          "itemId"
        ],
        "type": "object",
        "properties": {
          "itemId": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "SayHiRequestArgs": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "TestScenarioApiRequestArgs": {
        "required": [
          "prompt"
        ],
        "type": "object",
        "properties": {
          "prompt": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "OpenAI_authenticateRequestArgs": {
        "required": [
          "challenge",
          "solution",
          "token"
        ],
        "type": "object",
        "properties": {
          "token": {
            "type": "string"
          },
          "challenge": {
            "type": "string"
          },
          "solution": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "OpenAI_inventory_stateRequestArgs": {
        "required": [
          "id"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          }
        },
        "additionalProperties": false
      },
      "OpenAI_inventory_putRequestArgs": {
        "required": [
          "currencies",
          "deleteItems",
          "id",
          "newItems",
          "transaction",
          "updateItems"
        ],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "transaction": {
            "type": "string"
          },
          "currencies": {
            "type": "object",
            "additionalProperties": {
              "type": "integer",
              "format": "int64"
            }
          },
          "newItems": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Beamable.Common.Api.Inventory.FederatedItemCreateRequest"
            }
          },
          "deleteItems": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Beamable.Common.Api.Inventory.FederatedItemDeleteRequest"
            }
          },
          "updateItems": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Beamable.Common.Api.Inventory.FederatedItemUpdateRequest"
            }
          }
        },
        "additionalProperties": false
      }
    },
    "securitySchemes": {
      "scope": {
        "type": "apiKey",
        "description": "Customer and project scope. This should contain the '<customer-id>.<project-id>'.",
        "name": "X-DE-SCOPE",
        "in": "header"
      },
      "user": {
        "type": "http",
        "description": "Bearer authentication with an player access token in the Authorization header.",
        "scheme": "bearer",
        "bearerFormat": "Bearer <Access Token>"
      }
    }
  },
  "x-federated-components": [
    "IFederatedInventory/OpenAI",
    "IFederatedLogin/OpenAI"
  ]
}